
body {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#boxes {
    display: flex;
    justify-content: center;
}

.BOX {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 3px grey solid;
    border-radius: 10%;
}
